.popup_container
{	
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.7) , 10.0, 0.3 , 1 , 1);	
	-fx-padding: 0px 1px 0px 0px;
}

.popup_listView
{
	
}