.root {
	
}

.input_path
{
	-fx-prompt-text-fill: rgba(255.0,0.0,0.0, 0.5);
}

.btn_filechoose, .btn_history
{		
	-fx-background-size: 26.0 26.0 !important;
	-fx-background-repeat: no-repeat !important ;
	-fx-background-position: center !important ;
	-fx-background-radius: 25.0px !important;
	-fx-background-color: transparent !important ;	
}

.btn_filechoose
{
	-fx-background-image: url("../images/Eject_Blue_Button.png");	
}

.btn_history
{
	-fx-background-image: url("../images/History.png");
}

.btn_filechoose:hover , .btn_history:hover
{
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.7) , 10.0, 0.2 , 0.0 , 0.0);	
}

.btn_filechoose:focused, .btn_filechoose:pressed, .btn_history:focused, .btn_history:pressed
{
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.7) , 10.0, 0.5 , 0.0 , 0.0);
}